*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --color-primary-1: #71b5b6;
  --color-primary-2: #88cac9;

  --color-grey-light-1: #e9ecef;
  --color-grey-light-2: #dee2e6;
  --color-grey-light-3: #ced4da;
  --color-grey-light-4: #adb5bd;
  --color-grey-light-5: #868e96;
  --color-grey-light-6: #495057;

  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light-1: 0 10px 6px -6px rgba(0, 0, 0, 0.3);
  --shadow-light-2: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  --shadow-light-3: 0 1rem 2rem rgba(0, 0, 0, 0.02);

  --font-primary: "Be Vietnam Pro", sans-serif;
  --font-display-1: "Comfortaa", Display;
}

body {
  font-family: var(--font-primary);
  background-color: #fff;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

/* main */

.header {
  /* background-color: red; */
  font-size: 1.8rem;
  font-weight: 500;

  padding: 2rem 8rem;

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #1b2d79;
}
.header-list {
  list-style: none;
  text-transform: uppercase;

  display: flex;
  gap: 2rem;
}

.header-link {
  text-decoration: none;
  color: var(--color-grey-light-5);
}

.cta-btn {
  display: inline-block;
  background-color: orange;
  color: #fff;

  padding: 0.5rem 2rem;
  margin-left: 4rem;
  border-radius: 10rem;
}

.main-container {
  width: 100vw;
  height: 100vh;

  margin: 0 8rem;

  display: flex;
}

.heading-1 {
  font-size: 5rem;
  color: #1b2d79;
}

.left-container {
  width: 30%;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.right-container {
  width: 70vw;
  height: 100vh;
  /* background-color: red; */
}

.image {
  width: 100%;
  height: 100%;
}

.para-text {
  font-size: 1.8rem;
  padding: 2rem 0;
  color: var(--color-grey-light-5);
}

.btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;

  border: none;
  display: inline-block;

  padding: 1rem 4rem;

  /* width: 40%; */

  align-self: flex-start;
  margin-left: 0;

  cursor: pointer;
}

.btn:hover,
.cta-btn:hover {
  transform: translateY(-1px);
}
